*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    height: 80px;
    background-color: #0f0e0e;
    z-index: 1000;
    width: 100%;
    margin: 0 auto; 
    position: fixed;
}

#navbar__logo {
    color:  #5fd32d;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem; 
}

.navbar__menu {
    display: flex;
    list-style: none;
    justify-content: center;
    margin: 0 auto;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    font-size: 1.2rem;
    
}

.navbar__links:hover {
    color: #5fd32d;
    transition: color 0.3s ease;
}

.navbar__btn {
    display: flex;
    align-items: center;
}

.navbar__btn.mobile {
    display: none;
}

.navbar__btn.desktop {
    display: flex;
}

.button {
    display: flex;
    align-items: center;
    background: #62c438;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

.button:hover {
    background: #359210;
    transition: all 0.3s ease;
}

.navbar__toggle {
    display: none;
}

@media screen and (max-width: 968px) {
    .navbar__toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        color: #fff;
        z-index: 10px;
        font-size: 1.5rem;
        border: none;
        cursor: pointer;
        padding: 0;
        background: none;
    }

    .navbar__menu {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 80px;
        left: -100%;
        width: 100%;
        height: calc(100% - 80px);
        opacity: 0;
        background-color: #292927;
        transition: all 0.3s ease;
        z-index: 10;
        margin: 0;
    }

    .navbar__menu.active {
        left: 0;
        opacity: 1;
    }

    .navbar__item {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: flex;
        justify-content: center;
    }


    /* Sign Up Button Styles */
    .navbar__btn.desktop {
        display: none;
    }

    .navbar__btn.mobile {
        display: flex;
        justify-content: center;
        padding-bottom: 2rem;
        width: 100%;
    }

    .button{
        width: 80%;
        height: 60px;
        justify-content: center;

    }
}

